DISCORD_TOKEN= # bot token. do not fucking share this shit with anyone that has no business having it
SERVER_ID= # server to retrive player from, only works if the server exists and use mee6 leveling
CLIENT_ID= # bot id
ADMINISTRATOR_IDS= # bot host's id
MAX_TRIES= # maximum number of tries for a player. default is 5
TIMEOUT_DURATION= # timeout after deleting account. default is 604800 seconds, or 1 week